body {
    font-family: 'Maven Pro', sans-serif; color: black;
    background-image: url(../Image/background.jpg);
    background-attachment: fixed;
}
    
.statusok {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    color: #00b100;
}
.statuswip {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    color: #ff8900;
}
.statusny {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    color: red;
}

.page-header {
    border: 4px dashed;
    border-color: black;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-color: #facd11;
}

.jumbotron {
    background-color: #9d9c9c;
    border-color: #facd11;
    border: 3px outset;
    padding: 10px 5px;
    margin-left:30px;
    margin-right:30px;
}
.container {
    padding-left: 25px;
    padding-right: 25px;
}
.jumbotron, .container-fluid .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron h1 {
    font-size: 40px;
    font-family: 'Megrim', cursive;
    font-weight: 900;
    text-align: center
}

.jumbotron h2 {
    font-size: 30px;
    font-family: 'Rationale', sans-serif;
    text-shadow: -1px 0 #facd11, 0 1px #facd11, 1px 0 #facd11, 0 -1px #facd11;
    text-align: center
}

.jumbotron h3 {
    font-size: 25px;
    font-family: 'Rationale', sans-serif;
    text-shadow: -1px 0 #facd11, 0 1px #facd11, 1px 0 #facd11, 0 -1px #facd11;
}

.jumbotron h4 {
    font-size: 20px;
    font-family: 'Rationale', sans-serif;
    text-shadow: -1px 0 #facd11, 0 1px #facd11, 1px 0 #facd11, 0 -1px #facd11;
}

.jumbotron p {
    font-size: 15px;
}

.thumbnail h3 {
    font-size: 30px;
    font-family: 'Megrim', cursive;
    text-align: center;
}
.thumbnail {
    background-color: #9d9c9c;
    border: 2px outset;
    border-color: #facd11;
    padding: 10px 10px;
    width: auto;
    height: auto;
    margin-left:10px;
    margin-right:10px;
}

.jumbotron a {
    color: #facd11;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
    color: #facd11;
}

a:hover,
a:focus {
    color: black;
    text-shadow: -1px 0 #facd11, 0 1px #facd11, 1px 0 #facd11, 0 -1px #facd11;    
}

#footer {
    background: #2a2a2a;
    color: #9d9c9c;
    border-top: 2px outset;
    border-color: #facd11;

}

.container p img {
    border-color: grey;
}

.btn-primary {
    color: #facd11;
    background-color: black;
    border-color: #facd11;
    font-family: 'Rationale', sans-serif;
    font-size: 17px;

}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #facd11;
    background-position: 0 -15px;
    border-color: black;
    color: black;
    margin: auto;
} 

.progress {
    background-color: #facd11;
}

.dropdown-menu {
    background-color: #e7e7e7;
    color: black;
    background-color: #facd11;
    font-size: 17px;
    padding: 0px 0px;
    border-top: 0px;
}

.container p img, .pic, .html5-video-player, .ytp-thumbnail, .img-responsive, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 600px;
    margin:auto;
    
}

.img-responsive, #cv, iframe {
    background-color: black;
    border: 2px solid #facd11 !important;
    border-radius: 14px;
    overflow: hidden !important;
  
}
.extpage {
    width: 800px;
    height: 800px;

}
iframe, canvas {
    display: block;
    max-width: 100%;
    width: 600px;
    margin:auto;
    padding: 4px;
    border-radius: 14;
    overflow: hidden !important;
}

div.notepad {
    background-color: white;
    color: black;
    max-width: 100%;
    white-space: pre-line;
    word-break: break-all;
    font-family: "Menlo";
    padding: 0px;
    border: 2px solid #facd11 !important;
    border-radius: 14px;
    overflow: hidden !important;
    width: 800px;
    margin:auto;
}

div.textnotepad {
    background-color: white;
    color: black;
    max-width: 100%;
    white-space: pre-line;
    word-break: break-all;
    font-family: "Menlo";
    padding: 10px;
    overflow: hidden !important;
    font-size: 12px;
    width: 800px;
    margin:auto;
    border: 2px solid black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top: 0px;
    
}

div.titlenotepad {
   background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

    color: black;
    max-width: 100%;
    white-space: pre-line;
    word-break: break-all;
    font-family: "Menlo";
    padding: 0px;
    overflow: hidden !important;
    font-size: 14px;
    margin: 0px;
    text-align: center;
    width: 800px;
    margin:auto;
    border: 2px solid black;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
div.code {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-line;
    word-break: break-all;
    color: #50ff49;
    background-color: black;
    max-width: 100%;
    padding: 10px;
    background-color: black;
    border: 2px solid #facd11 !important;
    border-radius: 14px;
    overflow: hidden !important;
    font-size: 12px;
    font-weight: bold;
    width: 800px;
    margin:auto;
}

/* navbar */
.navbar {
    font-size: 20px;
    font-family: 'Rationale', sans-serif;
}
.navbar-default {
    background: #2a2a2a;
    border-bottom: 2px outset;
    border-color: #facd11;

}
.navbar-default .navbar-brand {
    color: #facd11;
    font-size: 22px;

}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
    background-color: #facd11;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #facd11;
    text-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: #facd11;
    text-shadow: none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: #facd11;
    text-shadow: none;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: #facd11;
    text-shadow: none;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #facd11;
    border-bottom-color: #facd11;
    text-shadow: none;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: black;
    border-bottom-color: black;
    text-shadow: none;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: black;
    border-bottom-color: black;
    text-shadow: none;
}

@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:black;background-color: #facd11;}.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#333;background-color:#777}}
    
/*forme finestre*/
    
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
    
#circle1 {
      width: 12px;
      height: 12px;
      background: red;
}
    
#circle2 {
      width: 12px;
      height: 12px;
      background: orange;
}
    
#circle3 {
      width: 12px;
      height: 12px;
      background: green;
}