/* Custom CSS */

.license, #cclicense { 
			font-size: 12px; 
			text-align: center;
		 }
		 
.license img, #cclicense { 
			margin: 10px;
		 }

#cv {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 30px 0px 30px 0px !important;
  display: block;
}




.container p img {
  display: block;
  padding: 0px;
  line-height: 1;
  max-width: 920px;
  border: 1px solid #ccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-left: 0px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom:15px;
}


legend { 
	margin:3px; 
	text-align:left;
	width:100%; 
	font-size: 14px; 
	border: 0px;   
	line-height: 18px;
	}

.pic {
  margin:3px; text-align:left;width:100%
  display: block;
  padding: 4px;
  width: 940px;
  line-height: 1;
	
 /* border: 1px solid #fff;
   -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  */
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:20px;
}

.pic2 {
  margin:3px; text-align:left;width:100%
  display: block;
  padding: 4px;
  width: 940px;
  line-height: 1;
	
 /* border: 1px solid #fff;
   -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  */
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:0px;
}
.youtube {
  
  margin-left: 0 px;

  	
}

.legend { 
	margin:3px; 
	text-align:left;
	width:100%; 
	font-size: 14px; 
	border: 0px;   
	line-height: 18px;
	margin-left: 105px;
	}

.jumbotron2 {
  padding-bottom: 15px;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
  margin-bottom: 5px;
border-radius: 36px;
  color: inherit;
  background-color: #eee;
}

.jumbotron2 p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 200;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
}
/* CSS from Bootstrap website: */

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
	
font-family: 'Anonymous Pro', pt sans,  monospace;
  /* Margin bottom by footer height + a 30px margin */
  margin-bottom: 170px;
}
p {font-size: 16px
}

.navbar {
    
    background-color: #37b
	}


.navbar-default .navbar-nav>li>a {
    color: #fff
}
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
    color: #000
}







h1 {
	font-family:  menlo, monospace;
	font-weight: 700
	}
h2 {
	font-family:  menlo, monospace;
	font-weight: 700
}
h3 {
	font-family:  menlo, monospace;
	font-weight: 700
}
#footer {
  position: absolute;
  bottom: 0;
  height: 140px;
  width: 100%;
  background-color: #ccc;
  padding: 20px;
}


/*  Fix iframe size
	From http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
	*/
	
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    padding: 0px;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}