body {font-family: 'Press Start 2P', cursive;align-items: center}
<!--body {
    font-family: 'Slabo 27px', serif; 
    font-family: 'Press Start 2P', serif;
    width: 80%;
    margin: auto;
    
} -->
h1{font-family: 'Electrolize',sans-serif; font-size: 60px;text-align: center}
h2{font-family: 'Electrolize',sans-serif;font-size: 50px;font-weight: 800;text-align: center}
h3{font-family: 'Electrolize',sans-serif;font-size: 25px;font-weight: 600;text-align: center}
h4{font-family: 'Electrolize',sans-serif;font-size: 35px;font-weight: 700; text-align: left; color:#2a5ade}
h5{font-family: 'Electrolize',sans-serif;font-size: 20px;font-weight: 600;text-align: center}
h6{font-family: 'Electrolize',sans-serif;font-size: 25px;font-weight: 700;color: firebrick;text-align: center}
h7{font-family: 'Electrolize',sans-serif;font-size: 25px;font-weight: 700;color:#38d8a2;text-align: center}
h8{font-family: 'Electrolize',sans-serif;font-size: 20px;font-weight: 600;text-align-last: left}
li {font-family: 'Electrolize',sans-serif;
    list-style-type: none;
    background: #e23448;
    font-size: 20px;
    width: 65%;
    height: 40p;
    }

ul, ol {
padding-left: 25%
}

p {
    text-align: justify;
}

li :hover {
    background: #065d1d;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
}

li  a{
    font-weight: 700;
    background: #37ff3f;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
}

a{ color: #db0c34;
    font-size:20px;

}
a:hover{ color: #37adeb;
    font-size:20px;
}

figcaption{
    font-family: 'Electrolize',sans-serif;font-size: 14px;font-weight: 600; text-align: center;
}

DIV.code {
    font-family: "Lucida Console", monospace;
    white-space: pre-line;
    word-break: break-all;
    color: #3c3e3c;
    background-color:#e2e2e2;
    max-width: 100%;
    padding: 10px;
    overflow: hidden !important;
    text-align: left;
}

pre{
text-align: left}


